export AWS_ACCOUNT_ID=123456789012

# Lambda deployment with lambroll
export LAMBDA_EXECUTION_ROLE=arn:aws:iam::${AWS_ACCOUNT_ID}:role/lambda-cwl-to-s3-processor-role
export LOG_LEVEL=INFO
export TAG_ENV=dev
