#!/bin/bash

export ECS_CLUSTER_NAME="bastion-production"
export ECS_SERVICE_NAME="bastion-client"
export ECR_REPOSITORY_URI="123456789012.dkr.ecr.ap-northeast-1.amazonaws.com/bastion:latest"
export AWS_DEFAULT_REGION="ap-northeast-1"

export ECS_SECURITY_GROUP_ID="sg-12345678901234567"
export ECS_SUBNET_A_ID="subnet-12345678901234567"
export ECS_SUBNET_C_ID="subnet-12345678901234567"
